{% extends 'base.html' %}

{% block content %}
<figure class="text-center">
    <blockquote class="blockquote">
        <h1 class="display-6">{{ post.title }}</h1>
    </blockquote>
    <figcaption class="blockquote-footer">
      {{ post.created }}
    </figcaption>
  </figure>    
  <p>{{ post.content }}</p>

  <form action="{% url 'post-delete' post.id %}"method='post'>
    {% csrf_token %}
    <button type="submit">Удалить пост</button>
  </form>

  <a href="{% url 'post-update' post.id %}"><button>Обновить пост</button></a><br>

  {% include 'posts/includes/links_includes.html' %}

{% endblock %}