{% extends 'base.html' %}
{% block content %}
    {% if validlink %}
        <p>Пожалуйста введите и подтвердите новывй пароль</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}</td>
                    <label for="id_new_password1">Новый пароль</label>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}</td>
                    <label for="id_new_password2">Потвердите пароль</label>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value='Изменить пароль'></td>
                </tr>
            </table>
        </form>
        {% else %}
        <h1>Не удалось сбросить пароль</h1>
        <p1>Ссылка для сброса пароля недействительна</p1>

    {% endif %}
{% endblock %}